* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  padding: 0px;
}

:root{
  --hue: 220;
  --accent1: var(--hue) 43.6% 57.5%;
  --accent2: var(--hue) 71.4% 95.9%;

  --large: 1.777rem;

  --radiusSmall: 5px;
  --radiusLarge: 15px;
}